body {
	width: 100%;
	height: 100%;
	margin: 0px;
	background-position: center;
	background-repeat: no-repeat;
  	background-size: cover;
	background-image: url("sprites/arcade.jpg");
	font-family: "Courier New", Courier, monospace;
	overflow: hidden;
}
#invaders
{
	/*background-color: red;*/
}
.go
{
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
  	background-size: cover;
}
.invader0
{
	background-image: url("sprites/elisa.png");
}
.invader01
{
	background-image: url("sprites/elisa.png");
}
.invader1
{
	background-image: url("sprites/elisa.png");
}
.invader11
{
	background-image: url("sprites/elisa.png");
}
.invader2
{
	background-image: url("sprites/elisa.png");
}
.invader21
{
	background-image: url("sprites/elisa.png");
}
.specialInvader
{
	background-image: url("sprites/elisaBigote.png");
}
.player{
	background-image: url("sprites/buitre.png");
}
.paddle {
	background-color: pink;
}
#game {
	/*position:absolute;
	/*background-color: rgba(0, 255, 0, 0.3);*/
	width: 100%;
	height: 100%;
	margin: 0px;
}
#hud
{
	border: 20px solid green;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	width: 25%;
	height: 100%;
	float: right;
	top:0;
	bottom: 0;
	margin: auto;
}
#playArea {
	border: 20px solid green;
	background-color: rgba(0, 0, 0, 0.5);
	width: 75%;
	height: 100%;
	top:0;
	bottom: 0;
	float: left;
  	
	margin: auto;
}
.bullet{
	position: absolute;
 	background-image: url("sprites/ficha.png");
}
.bullet-elisa{
	position: absolute;
 	background-image: url("sprites/tweet.png");
}
.pixel
{
	background-color: #19D62A;
}
#insertCoin
{
	display: none;
}
.lifes
{
	margin: 5px;
	background-position: center;
	background-repeat: no-repeat;
  	background-size: cover;
}
